#zeleboba_hide_show_button {
  display: block;
  position: absolute;
  top: 77px;
  right: 50px;
  width: 200px;
  padding: 10px;
  font-weight: bold;
  background-color: white;
  color: #515151;
  border: 1px solid #515151;
  cursor: pointer;
  z-index: 999;

  &:hover {
    background-color: #e0e0e0;
  }
}

#textarea_hide_show_button {
  display: block;
  position: absolute;
  top: 77px;
  right: 250px;
  width: 100px;
  padding: 10px;
  font-weight: bold;
  background-color: white;
  color: #515151;
  border: 1px solid #515151;
  cursor: pointer;
  z-index: 999;

  &:hover {
    background-color: #e0e0e0;
  }
}


#zeleboba_popup {
  position: absolute;
  top: 120px;
  right: 50px;
  opacity: 0.8;
  background-color: #333333;
  color: #ffffff;
  z-index: 99999;
  max-height: 600px;
  min-height: 400px;
  width: 500px;
  min-width: 500px;
  overflow: auto;

  .zeleboba_popup_buttons {
    display: flex;
    flex-direction: row;
    margin: 15px;

    button {
      padding: 8px;
      min-width: 80px;
      border-radius: 2px;
      background-color: #000000;
      border: 1px solid #c0c0c0;
      cursor: pointer;
      margin-right: 10px;

      &:hover {
        border-color: red;
      }
      &:active {
        background-color: #111111;
      }
    }

    select {
      margin-right: 10px;
    }
  }

  #zeleboba_popup_metadata {
    display: flex;
    margin: 0 20px;
    min-height: 20px;
  }

  #zeleboba_popup_messages {
    display: flex;
    flex-direction: column;
    min-height: 200px;

    .message {
      padding: 15px 20px;
      cursor: pointer;
      max-height: 200px;
      overflow: auto;

      &:hover {
        background-color: #636363;
      }
      &:first-child {
        margin-top: 10px;
      }
      &:last-child {
        margin-bottom: 10px;
      }
    }
  }

  #zeleboba_popup_input {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;

    #zeleboba_textarea {
      border-radius: 0px;
      background-color: #f0f0f0;
      border: 1px solid #c0c0c0;
      width: 100%;
      margin-bottom: 0px;
      color: black;
      padding: 10px;
      opacity: 1;
      min-height: 120px;
    }
    #textarea_buttons {
      display: flex;
      flex-direction: row;

      button {
        width: 100%;
        cursor: pointer;
        background-color: #f0f0f0;
        padding: 5px;
        color: black;
        &:hover {
          background-color: #d1d1d1;
        }
      }
    }
  }
}
